<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="errorLogPath" value="C:\Users\nafiz.rifat\Documents\" />
  </appSettings>
  <connectionStrings>
    <add name="ConnectionDiningAnalytics"  connectionString="Data Source=diningsql.ad.ndsu.edu;  Initial Catalog=DiningAnalytics; Integrated Security=true; " />
  </connectionStrings>
</configuration>
